@font-face {
  font-family: Oxygen;
  src: url(./fonts/Oxygen-Regular.ttf);
}

body {
  font-family: Oxygen;
  margin: 0;
}

.container {
  padding: 2rem 1rem 2rem 1rem;
}

.img-title {
  text-align: center;
  color: white;
}

.img-title a {
  color: #5872e2;
}

.keyword {
  color: #f92672;
  border-radius: 5px;
  background-color: rgb(44, 42, 42);
  padding: 0.1rem 0.23rem 0.1rem 0.23rem;
}
